body{
    font-family:Heydex;
    color: hsl(309, 83%, 11%);
    background-color: hsl(246, 25%, 53%);
    margin: 0;
    padding: 0;
}
.cabecalho{
    display: flex;
    text-align: center;
    justify-content: center;
}
.content{
    display: flex;
    text-align: center;
    justify-content: center;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 149, 181);

}